<div id="post_id" data-id={{id}}></div>

<div class="container align-items-center w-75">
  
  <div class="row align-items-center card my-3 text-primary">
    
    {{!-- If not the post author simply display the post as a card --}}
    {{#unless isOwner}}
    <div class="card-header">
      <h4 class="text-primary">{{title}}</h4>
      <h6 class="card-subtitle text-muted">Posted by {{user.name}} on {{date}}</h6>
    </div>
    <div class="card-body">
      <p>{{content}}</p>
    </div>
    {{/unless}}

    {{!-- If the post author create a form and fill fields with data from database to edit if desired --}}
    {{#if isOwner}}
    
    <form>
      <div class="m-3">
        <label for="title" class="form-label">Title</label>
        <input type="text" class="form-control text-primary" id="title" value="{{title}}">
      </div>

      <div class="m-3">
        <label for="content" class="form-label">Content</label>
        <textarea class="form-control text-primary" aria-label="With textarea" id="content">{{content}}</textarea>
      </div>
      
      <button class="btn btn-sm btn-primary ms-3 mb-1" style="width: 15vw;" id="updateBtn" data-id="{{id}}">Update Post</button>
      <button class="btn btn-sm btn-danger ms-3 mb-1" style="width: 15vw;" id="deleteBtn" data-id="{{id}}">Delete Post</button>
    </form>
    {{/if}}

  </div>

  {{!-- Comments --}}
  <div class="row align-items-center card my-3 text-primary">

    <div class="card-header">
      <h4 class="text-primary">Comments</h4>
    </div>
    
    <div class="card-body">
      {{#each comments as |comment|}}
      {{comment.content}} </br>
      By {{comment.user.name}} on {{comment.date}} </br> </br>
      {{/each}}
    </div> 

  </div>

  {{#unless isOwner}}
  <form class="new-comment-form">
    <div class="mb-3 form-group">
      <label for="commentInput" class="form-label">Add Comment</label>
      <input type="text" class="form-control text-primary" id="commentInput" placeholder="Enter comment here">
      <button type="submit" class="btn btn-sm btn-primary mt-3" style="width: 15vw;" id="commentBtn" data-id="{{id}}">Submit</button>
    </div>
  </form>
  {{/unless}}

</div>

{{#if isOwner}}
<script src="/js/ownerPost.js"></script>
{{else}}
<script src="/js/nonOwnerPost.js"></script>
{{/if}}